<div class="modal-header" data-test="modal-header">
    <h4 class="modal-title">{{data.title}}</h4>
</div>

<div class="modal-body" data-test="modal-body">
    <div class="price">
        {{data.price}}
    </div>

    <input type="text" data-test="check-in" [(ngModel)]="checkIn"/>
    <input type="text" data-test="check-out" [(ngModel)]="checkOut"/>

    <div data-test="total">${{calculateTotal(checkIn, checkOut)}}</div>

    <button data-test="book-btn" (click)="bookNow()">Book Now</button>
</div>